body {
  background: #000;
  /* pure black */
  color: #fff;
  /* white text */
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 2rem;
  margin: 0;
}

h1 {
  color: white;
  text-align: center;
  padding: 10%;
}

h3 {
  color: white;
  text-align: center;
  padding: 0%;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 1.8rem;
  padding: 0;
  margin: 2rem 0;
  justify-content: center;
}

.social-links a {
  display: inline-block;
  padding: 12px;
  color: #e0e0e0;
  font-size: 2rem;
  text-decoration: none;
  transition: all 0.3s ease;
  position: relative;
  z-index: 1;
  border-radius: 50%;
  line-height: 1;
}

.github_logo:hover {
  color: #fff;
}

.x_logo:hover {
  color: #ffffff;
}

.social-links a[href*="linkedin"]:hover {
  color: #0A66C2;
}

.social-links a:hover {
  filter: drop-shadow(0 0 10px currentColor);
  transform: translateY(-5px);
}
